{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--==========================
    Intro Section
    ============================-->
    <section id="intro--each"
             style="background: url({{ article.image.url }}) top center; background-size: cover;">
      <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">{{ article.headline }}</h1>
        <p class="mb-4 pb-0">{{ article.sub_headline }}</p>
    </div>
    </section>

    <!-- start of post -->
    <div class="post-container">

        <!-- start article details -->
        <div class="article-info container">
          <div class="article-info-content display-center">
            <div class="display-center">
              <img class="author-pic" src="{{ article.author.profile_pic.url }}" alt="">
              <h6 class="author--text">By {{ article.author }} on {{ article.publish|date:"D M Y" }}</h6>
            </div>

            <div class="article-meta">
              <div class="tags">
                  {% for tag in article.tags.all %}
                  <span class="tag"><a href="#">{{ tag.name }}</a></span>
                  {% endfor %}
                  <a class="back-button" href="{% url 'blog:articles' %}">All Guides</a>
                  {% if user.is_authenticated and request.user.id == article.author.id %}
                    <a class="back-button" href="{% url 'blog:guide-update' article.slug %}">Update</a>
                    <a class="back-button" href="{% url 'blog:guide-delete' article.slug %}">Delete</a>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!-- end of article details -->
        <hr>
        <p>{{ article.body|safe }}</p>
    </div>
    <!-- end of post -->
{% endblock %}